@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@model Test
@using WebApplication3.Models;
@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
    List<Question> Questions = ViewData["questions"] as List<Question>;
}
@if (User.Identity.IsAuthenticated)
{

    // If user created test
    if (Model.CreatedBy.Id == ((User) ViewData["user"]).Id)
    {
        <div class="align-content-center">
            <h2>@Model.Name</h2>
            <h4>You created test</h4>
            <h4>Questions</h4>


            @if (Questions == null)
            {
                <p>В тесте еще нет вопросов</p>
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Text</th>
                        <th scope="col">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Questions.Count; i++)
                    {
                        <tr>
                            <th scope="row">1</th>
                            <td>i+1</td>
                            <td>Questions[i].Title</td>
                            <td>Questions[i].QuestionType</td>
                        </tr>
                    }


                    </tbody>
                </table>
                // TODO: add details and edit page
            }
            
        </div>
    }
    else
    {
        if (((TestResult) ViewData["testResult"]).isCompleted)
        {
            <div class="align-content-center">
                <h2>@Model.Name</h2>
                <h4>You completed</h4>
                // TODO: add details about completed test
            </div>
        }
        else
        {
            <div class="align-content-center">
                <h2>test.Name</h2>
                <h4>You can complete this test</h4>
                // TODO: add action to complete test
            </div>
        }
        
    }
}
