@using WebApplication3.Models;
@model TestResult

@{
    ViewBag.Title = "Начать тест";
    Layout = "_Layout";
    //TODO: поправить дизайн
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr/>
    <p>Название теста: @Model.Test.Name</p>
    <p>Вопросов: @ViewBag.QuestionsCount</p>

    <form asp-controller="Test" asp-action="Start" asp-route-testResultId="@Model.Id" class="form" role="form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="submit" class="btn btn-success">Начать Тест</button>
    </form> 
</div>
