@model TextAnswer

<form method="post">
    <div>
        <h5 style="margin-top: 1rem;">@Model.Question.Title</h5>
    </div>
    <input type="hidden" value="@Model.Id">
    <fieldset class="form-group row" id="options">
        <div class="items card" style="margin-bottom: 0;">
            <table class="table table-borderless" style="margin-bottom: 0;">
                <tbody id="item-table__body">
                    <tr class="item-table__row">
                        <td class="item-table__cell">
                            <textarea name="option" id="Text" class="form-control item__text-field" value="@((Model.Text != null && Model.Text != "") ? Model.Text : "")" placeholder="Ответ">@Model.Text</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</form>