@model TextAnswer

<form method="post">
    <div>
        <h4>@Model.Question.Title</h4>
    </div>
    <input type="hidden" value="@Model.Id">
    <fieldset class="form-group row" id="options">
        <div class="col-sm-10">
            <table class="item-table">
                <tbody id="item-table__body">
                    <tr class="item-table__row">
                        <td class="item-table__cell">
                            <input name="option" id="Text" type="text" class="item__text-field" @((Model.Text != null) ? "value=" + Model.Text : "") placeholder="Ответ">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <style>
        .item-table__row {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid #DDD; /* Параметры рамки */
        }
    </style>
</form>