@model TextAnswer

<form method="post">
    <div>
        <h5 style="margin-top: 1rem;">@Model.Question.Title</h5>
    </div>
    <input type="hidden" value="@Model.Id">
    <fieldset class="form-group row" id="options">
        <div class="col-sm-10">
            <table class="table item-table">
                <tbody id="item-table__body">
                    <tr class="item-table__row">
                        <td class="item-table__cell">
                            <textarea name="option" id="Text" type="text" class="form-control item__text-field" @((Model.Text != null && Model.Text != "") ? String.Format("value={0}", Model.Text) : "") placeholder="Ответ"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</form>