@model ICollection<Answer>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

}
<div id="formDiv" class="container">


</div>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled prev-btn">
            <span class="page-link unselectable">Previous</span>
        </li>
        @foreach (var a in Model)
        {
                <li class="page-item num-btn" btn-id="@a.Id" answer-type="@a.AnswerType">
                    <a class="page-link unselectable">@a.Order</a>
                </li>
        }
        <li class="page-item next-btn">
            <span class="page-link unselectable">Next</span>
        </li>
    </ul>
</nav>
@section Scripts
    {
    <script type="text/javascript">
        var firstId = $("nav ul").children().filter(".num-btn")[0].getAttribute("btn-id");
        var lastId = $("nav ul").children().filter(".num-btn")[$("nav ul").children().filter(".num-btn").length - 1].getAttribute("btn-id");
        $("li[btn-id=" + firstId + "]").addClass("active");

        loadAnswer();
        
        $("nav ul").on("click", function (e) {
            submitAnswer();
            switchAnswer(e);
            loadAnswer();
        });
    </script>
}