@model ICollection<Answer>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    
}

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled prev-btn">
            <span class="page-link">Previous</span>
        </li>
        @foreach (var a in Model)
        {
            
            if (Model.First() == a)
            {
                <li class="page-item active num-btn" id="@(a.Order)"> 
                    <span class="page-link">
                        @a.Order
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item num-btn" id="@(a.Order)">
                    <a class="page-link">@a.Order</a>
                </li>
            }
        }
        <li class="page-item next-btn">
            <span class="page-link">Next</span>
        </li>
    </ul>
</nav>
@section Scripts
{

    <script type="text/javascript">
        function getActiveAnswerId() {
            var activeID = $($("li").filter($(".active"))[0])[0].id;
            console.log("active answer id: " +activeID);
            return activeID;
        }

        getActiveAnswerId();
        
        $("nav ul").on("click", function (e) {
            if (e.target.parentElement.classList.contains("next-btn")) {
                if (getActiveAnswerId() != $("nav ul").children().filter(".num-btn").length) {
                    var tmp = getActiveAnswerId() - -1;
                    $(".active").removeClass("active");
                    $("#" + tmp).addClass("active");
                    if (getActiveAnswerId() == 1)
                        $(".prev-btn").addClass("disabled");
                    else
                        $(".prev-btn").removeClass("disabled");
                    if (getActiveAnswerId() == $("nav ul").children().filter(".num-btn").length)
                        $(".next-btn").addClass("disabled");
                    else
                        $(".next-btn").removeClass("disabled");
                }
            }
            else
                if (e.target.parentElement.classList.contains("prev-btn")) {
                    if (getActiveAnswerId() != 1) {
                        var tmp = getActiveAnswerId() - 1;
                        $(".active").removeClass("active");
                        $("#" + tmp).addClass("active");
                        if (getActiveAnswerId() == 1)
                            $(".prev-btn").addClass("disabled");
                        else
                            $(".prev-btn").removeClass("disabled");
                        if (getActiveAnswerId() == $("nav ul").children().filter(".num-btn").length)
                            $(".next-btn").addClass("disabled");
                        else
                            $(".next-btn").removeClass("disabled");
                    }
                }
                else
                    if (e.target.parentElement.classList.contains("num-btn")) {
                        $(".active").removeClass("active");
                        $("#" + e.target.parentElement.id).addClass("active");
                        if (getActiveAnswerId() == 1)
                            $(".prev-btn").addClass("disabled");
                        else
                            $(".prev-btn").removeClass("disabled");
                        if (getActiveAnswerId() == $("nav ul").children().filter(".num-btn").length)
                            $(".next-btn").addClass("disabled");
                        else
                            $(".next-btn").removeClass("disabled");
                    }
                
        });
    </script>
}
