@model WebApplication3.Models.UserViewModels.LoginViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">Почта</label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <label asp-for="" class="col-md-2 control-label">Пароль</label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
</div>
</body>
</html>