/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
body {
    /*padding-top: 50px;
    padding-bottom: 20px;
    */
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#loginForm {

  }

#deleteLink {

}

/* #region Drag And Drop Table Styles */
.drag-handler {
    width: 1.4em;
    position: relative;
    background-color: #E4E6EB;
    background-image: linear-gradient(45deg, #E4E6EB, #E4E6EB 2px, #fff 2px, #fff 4px, #E4E6EB 4px, #E4E6EB 9px, #fff 9px, #fff 11px, #E4E6EB 11px, #E4E6EB 16px, #fff 16px, #fff 18px, #E4E6EB 18px, #E4E6EB 22px);
    background-size: 10px 20px;
    cursor: move;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

    .drag-handler:active {
        background-image: linear-gradient(45deg, #bab86c, #bab86c 2px, #fff 2px, #fff 4px, #bab86c 4px, #bab86c 9px, #fff 9px, #fff 11px, #bab86c 11px, #bab86c 16px, #fff 16px, #fff 18px, #bab86c 18px, #bab86c 22px);
        background-size: 10px 20px;
    }

 .item-table {
    /*
    position: relative;
    padding: 1em;
    border: 1px solid #DDD;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    z-index: 10;
    table-layout: auto;
    width: 100%;
    border-bottom: 1px solid #DDD;
    margin-bottom: 0;*/
    width: 100%;
 }
/*
.item-table__row {
        padding: 3px;
        border: 1px solid #DDD;
    }*/

.item-table__cell {
    vertical-align: top;
    padding: 3px 5px;
}

textarea.item__text-field {
    /*width: 100%;
    margin: 0;
    padding: .45em 0.92em;
    font-size: 1em;
    color: #555555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-left: 1px solid #CCC;*/
    height: calc(2.6rem + 2px);
}

.item-table__add-row {
    margin-top: 0;
    margin-bottom: 1rem;
    position: relative;
    z-index: 8;
}

.item-table__add-row-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 0;
    width: 4em;
    margin: 0 auto;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    text-align: center;
    opacity: 0.5;
    color: #fff;
    border: 1px solid #16A085;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background: #16A085;
    height: 1.5em;
    line-height: 1.5em;
}

    .item-table__add-row-btn:hover {
        opacity: 1;
    }

.item-table__del-row-btn {
    cursor: pointer;
    display: inline-block;
    padding: .6em 0.92em;
    font-size: 1em;
    line-height: 1.4;
    border: 1px solid #FF0000;
    color: #FF0000;
    text-decoration: none;
    transition: all .3s;
    text-align: center;
    background-color: #fff;
}

    .item-table__del-row-btn:hover {
        background: #FF0000;
        color: #fff;
    }
.items {
    width: 100%;
}
/*#endregion*/

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.btn-link {
    cursor: pointer;
    border-color: transparent;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

button.collapse-btn {
    color: rgb(33, 37, 41);
    width: 100%;
    text-align: left;
    text-decoration: none;
}
    button.collapse-btn:focus {
        color: rgb(33, 37, 41);
        text-decoration: none;
    }

    button.collapse-btn:hover {
        color: rgb(33, 37, 41);
        text-decoration: none;
    }
.output {
    min-height: 6em;
}
.contentwrapper {
    margin-top: 0.2em;
    border-radius: 5px;
    overflow: hidden;
}
.aside {
    font-size: 0.7em;
    float: right;
    margin-top: 0.4em;
}
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.CodeMirror-activeline {
    outline: 2px solid #5c5c5c;
    outline-offset: -2px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
